.interna-contato{
    background-image: url('../img/bg-contato.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contato{
    /* width: 100%;
    background: #000;
    margin-top: 60px; */
    padding: 40px 0;
}

#form_contato{
    padding-right: 60px;
}

#form_contato label{
    display: block;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 3px;
}

#form_contato input{
    display: block;
    width: 100%;
    border: 3px solid #fec63e;
    background: none;
    color: #000;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

#form_contato textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: 3px solid #fec63e;
    background: none;
    color: #000;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

#form_contato button{
    background: none;
    padding: 10px 40px;
}

/*Dados*/

.dados{
    color: #000;
}

.dados h3{
    font-size: 18px;
    text-transform: uppercase;
    color: #fec63e;
    line-height: 25px;
    font-weight: bold;
    padding-top: 10px;
    
}

.dados span{
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.dados span:nth-of-type(even){
    margin-bottom: 30px;
}

.dados ul{
    margin-top: 15px;
}

.dados ul li{
    display: inline-block;
    margin-right: 10px;
}

.dados ul li a{
    border: 3px solid #fec63e;
    display: block;
    padding: 8px;
}

.dados ul li a:hover{
    border-color: #000;
}

/*mapa*/

.contato-mapa{
    margin-bottom: 60px;
}
