.interna-sobre{
    background-image: url('../img/bg-sobre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.missao-sobre{
    padding-top: 60px;
}

.missao-sobre p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: .1em;
    padding-right: 60px;
}

.missao-lista li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
    
}

.foto-equipe{
    padding-top: 30px;
}